SPRING_PROFILES_ACTIVE=docker

STREAMFOLIO_POSTGRES_DB=streamfolio
STREAMFOLIO_POSTGRES_URL=jdbc:postgresql://postgres:5432/streamfolio
STREAMFOLIO_POSTGRES_USER=streamfolio
STREAMFOLIO_POSTGRES_PASSWORD=change-me

STREAMFOLIO_MEDIA_STORAGE=local
STREAMFOLIO_MEDIA_ROOT=/app/data/media
STREAMFOLIO_FFMPEG_BINARY=/usr/bin/ffmpeg
STREAMFOLIO_FFMPEG_PROBE_BINARY=/usr/bin/ffprobe

STREAMFOLIO_COOKIE_SECURE=false

STREAMFOLIO_MINIO_ENDPOINT=http://minio:9000
STREAMFOLIO_MINIO_PUBLIC_ENDPOINT=http://localhost:9000
STREAMFOLIO_MINIO_BUCKET=streamfolio-media
STREAMFOLIO_MINIO_ACCESS_KEY=streamfolio
STREAMFOLIO_MINIO_SECRET_KEY=change-me
